<section class="header-section">
    <div class="app-name">
        <a href="/"><h2 class="heading">Yourkart</h2></a>
    </div>
        <form class="search-bar">
            <input type="name" name="productname" placeholder="search for products">
            
        </form>
    <div class="sign-links">
        <% if(locals.user){ %>
             
            <div class="cart-section">
                <a href="/users/cartpage/<%= locals.user.id %>"><button ><i class="fas fa-shopping-cart"></i>Cart 
                    </button></a>
            </div>
            <div class="user-profile-btn">
                <a href="/users/profile">
                    <span>My Account</span>
                </a>
            </div>
            <div class="sign-out-btn">
                <a href="/users/sign-out"><button>Signout</button></a>
            </div>
            
        <% }else{ %>
            <div class="cart-section">
                <a href="/users/sign-in"><button ><i class="fas fa-shopping-cart"></i>Cart</button></a>
            </div>
            <div class="sign-up-btn">
                <a href="/users/sign-up"> <button>Sign up</button> </a>
            </div>
            <div class="sign-in-btn">
                <a href="/users/sign-in"><button>Sign in</button></a>
            </div>

        <% } %>

    </div>
    

</section>