<h2>CHECKOUT</h2>
<h4>Your Total:<%= totalPrice %></h4>
<form action=" " method="POST">
    Name:<input type="text" name="name" required>
    Address:<input type="text" name="address" required>
    <!-- Card Holder Name:<input type="text" name="cardholdername" required>
    Credit Card Number:<input type="number" name="cardnumber" required>
    Expiration Month:<input type="number" name="expmon" required>
    Expiration year:<input type="number" name="expyr" required>
    CVC:<input type="number" name="cvc"> -->
    <button>Buy Now</button>
</form>