*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
$breakpoints: (
    'xs': 0px,
    'sm': 380px,
    'md': 650px,
    'lg': 768px,
    'xl': 968px,
    'xlg': 1440px
);
body{
    background-color: #f1f3f6;
    .home-page-container{
        background-color: #f1f3f6;
        padding: 14px;
        .product-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            background-color: #f5faff;
            .product-box{
                margin:0px 2px;
                min-width: 232px;
                a {
                    text-decoration: none;
                    padding: 25px 15px;
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                    max-height: 366px;
                    text-align: center;
                    .product-box-clickable {
                        display: flex;
                        flex-direction: column;
                        img {
                            height: 200px;
                            &:hover {
                                transform: scale(1.04);
                            }
                        }
                        .product-name {
                            font-size: 14px;
                            font-weight: 500;
                            margin-top: 15px;
                            color: black;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .product-price {
                            font-size: 16px;
                            color: #388e3c;
                            padding-top: 8px;
                        }
                    }
                }    
            }
        }
    }
  }