body{
    #home-page-container{
        margin-left:5rem;
        margin-right:5rem;
        #product-container{
            display:flex;
            justify-content:space-around;
            flex-wrap:wrap;
            #product-box{
                height:280px;
                width:200px;
                border:1px solid black;
                //position: relative;
                display:inline-block;
                img{
                    display:inline-block;
                    //position:absolute;
                    //margin-left:50%;
                }
                span{
                    display:inline-block;
                    margin:auto;

                }
            }
        }
    }
  }