$breakpoints: (
    'xs': 0px,
    'sm': 380px,
    'md': 650px,
    'lg': 768px,
    'xl': 968px,
    'xlg': 1440px
);
body {
.sign-up-page {
    display: flex;
    justify-content: center; 
    padding: 20px; 
    margin: 40px;
    height: 400px;
     // If screen size is 650px wide, or less
     @media screen  and (max-width : map-get($breakpoints,'md')) {
        flex-direction: column;
        padding: 2px;
        margin: 2px;
    }
    .sign-up-heading-container {
        background-color: #2874F0;
        max-width: 214px;
        border-radius: 5px;
        padding: 20px 24px;
        background-image: url('../images/yourkart-logo.jpg');
        background-position: center 180px;
        background-repeat: no-repeat;
        // If screen size is 650px wide, or less
        @media screen  and (max-width : map-get($breakpoints,'md')) {
            display: none;
        }
        .sign-up-heading {
            font-family:arial;
            padding-left: 10px;
            font-weight: 600;
            color: white;
        }
        .user-features-copy {
            color: white;
            padding: 10px;
        }
        img {
            z-index: 2;
        }
    }
    .sign-up-form-container {
        padding: 4px 32px;
         // If screen size is 650px wide, or less
        @media screen  and (max-width : map-get($breakpoints,'md')) {
            margin: auto;
        }
        form{
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius:3%;
            margin:auto;
            input {
                display: inline-block;
                margin-top: 14px;
                width: 250px;
                padding: 12px;
                font-family: sans-serif;
                outline-color:black;
                font-size: 16px;
            }
            input[type="submit"] {
                background-color: #FF9F00;;
                color:white;
                font-size:20px;
                font-weight: 600;
                outline: none;
                cursor: pointer;
                border:none;
                padding:14px;
                margin-top: 24px;
                box-shadow: 0px 1px 2px 0px #00000033;
            }
            .already-account{
                padding:10px 6px;
                span{
                    color:black;
                }
                a{
                    text-decoration:none;
                    color:#FF9F00;;
                    
                }
            }
        }
    }

}
}