body .cart-container {
  padding: 30px 12px; }
  body .cart-container .cart-item {
    display: flex; }
    body .cart-container .cart-item .description {
      margin-left: 30px;
      line-height: 26px; }
      body .cart-container .cart-item .description p .original-price {
        text-decoration: line-through;
        color: #878787;
        font-size: 14px;
        margin-right: 10px; }
      body .cart-container .cart-item .description p .discount-amount {
        font-size: 18px;
        font-weight: 700;
        margin-right: 8px; }
      body .cart-container .cart-item .description p .discount-perc {
        font-size: 14px;
        font-weight: 700;
        color: #388e3c; }
  body .cart-container .product-quantity-container {
    padding: 16px 0; }

body a input[type="submit"] {
  display: inline-block;
  width: 20vw;
  padding: 0.3rem;
  font-size: 0.7rem;
  font-family: sans-serif;
  background-color: #FF9F00;
  color: white;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  border: none; }
