* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; }

body {
  background-color: #f1f3f6; }
  body .checkout-page-container {
    background-color: #f1f3f6;
    padding: 14px 64px; }
    @media screen and (max-width: 650px) {
      body .checkout-page-container {
        padding: 14px; } }
    body .checkout-page-container .delivery-address-container {
      background-color: #f5faff; }
      body .checkout-page-container .delivery-address-container h1 {
        color: #fff;
        background-color: #2874f0;
        height: 48px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        padding: 14px 24px;
        border-radius: 2px 2px 0 0; }
      body .checkout-page-container .delivery-address-container form {
        display: flex;
        flex-direction: column;
        align-items: center; }
        body .checkout-page-container .delivery-address-container form .address-form-options {
          display: flex;
          padding: 12px;
          margin-bottom: 10px; }
          @media screen and (max-width: 650px) {
            body .checkout-page-container .delivery-address-container form .address-form-options {
              flex-direction: column;
              justify-content: center;
              align-items: center; } }
          body .checkout-page-container .delivery-address-container form .address-form-options label {
            padding-bottom: 16px;
            padding-right: 12px; }
          body .checkout-page-container .delivery-address-container form .address-form-options input {
            width: 260px;
            height: 50px;
            font-size: 16px;
            padding-left: 8px;
            border-radius: 2px;
            border: 1px solid #e0e0e0; }
        body .checkout-page-container .delivery-address-container form .delivery-address-type-container {
          padding: 12px;
          margin-left: 12px; }
          body .checkout-page-container .delivery-address-container form .delivery-address-type-container .address-type-heading {
            font-size: 12px;
            color: #878787;
            margin-bottom: 10px; }
            @media screen and (max-width: 650px) {
              body .checkout-page-container .delivery-address-container form .delivery-address-type-container .address-type-heading {
                text-align: center; } }
          body .checkout-page-container .delivery-address-container form .delivery-address-type-container .delivery-address-options {
            display: flex; }
            @media screen and (max-width: 650px) {
              body .checkout-page-container .delivery-address-container form .delivery-address-type-container .delivery-address-options {
                flex-direction: column;
                justify-content: center;
                align-items: center; } }
            body .checkout-page-container .delivery-address-container form .delivery-address-type-container .delivery-address-options .delivery-address-option label {
              margin-right: 32px; }
        body .checkout-page-container .delivery-address-container form .delivery-success-btn {
          display: flex;
          margin: 16px;
          border-top: 1px solid #f0f0f0;
          background: #fff;
          box-shadow: 0 -2px 10px 0 #0000001a; }
          body .checkout-page-container .delivery-address-container form .delivery-success-btn a input[type="submit"] {
            padding: 16px 30px;
            min-width: 250px;
            text-transform: uppercase;
            border-radius: 2px;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            background-color: #fb641b;
            display: inline-block;
            font-family: sans-serif;
            color: white;
            outline: none;
            cursor: pointer;
            border: none; }
