.product-description-container {
  display: flex;
  padding: 16px;
  margin-bottom: 50px; }
  .product-description-container .product-image-container {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 12px; }
    .product-description-container .product-image-container .image-section {
      border: 1px solid #f0f0f0;
      padding: 16px; }
    .product-description-container .product-image-container .cart-btn-section {
      padding-top: 12px;
      display: flex;
      justify-content: center; }
      .product-description-container .product-image-container .cart-btn-section a .cart-btn {
        background-color: #FF9F00;
        display: inline-block;
        color: white;
        outline: none;
        cursor: pointer;
        border: none;
        padding: 18px 8px;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        font-family: sans-serif;
        font-size: 18px;
        min-width: 192px;
        width: 192px; }
        .product-description-container .product-image-container .cart-btn-section a .cart-btn i {
          margin-right: 8px; }
  .product-description-container .product-info-container {
    width: 64%; }
    .product-description-container .product-info-container .product-path-section .destination-url {
      font-size: 14px;
      text-decoration: none;
      color: #878787;
      cursor: pointer; }
      .product-description-container .product-info-container .product-path-section .destination-url .destination {
        display: inline-block; }
        .product-description-container .product-info-container .product-path-section .destination-url .destination:hover {
          color: #2874f0; }
      .product-description-container .product-info-container .product-path-section .destination-url i {
        padding: 0px 6px;
        font-size: 12px; }
    .product-description-container .product-info-container .product-path-section .current-product-url {
      font-size: 14px;
      color: #878787;
      text-decoration: none;
      cursor: auto; }
      .product-description-container .product-info-container .product-path-section .current-product-url .destination {
        display: inline-block; }
    .product-description-container .product-info-container .description-container {
      margin-top: 6px; }
      .product-description-container .product-info-container .description-container .description {
        color: #212121;
        font-size: 18px;
        font-weight: 400; }
      .product-description-container .product-info-container .description-container .extra-discount {
        font-weight: 500;
        text-align: left;
        color: #388e3c;
        margin: 12px 0 -12px; }
      .product-description-container .product-info-container .description-container .product-price {
        padding: 20px 0; }
        .product-description-container .product-info-container .description-container .product-price .discount-amount {
          font-size: 28px;
          font-weight: 700;
          margin-right: 8px; }
        .product-description-container .product-info-container .description-container .product-price .original-price {
          text-decoration: line-through;
          color: #878787;
          font-size: 18px;
          margin-right: 10px; }
        .product-description-container .product-info-container .description-container .product-price .discount-perc {
          font-size: 18px;
          font-weight: 700;
          color: #388e3c; }
    .product-description-container .product-info-container .highlight-container {
      display: flex;
      padding-top: 24px; }
      .product-description-container .product-info-container .highlight-container .highlight-heading {
        font-weight: 500;
        font-size: 16px;
        color: #878787;
        width: 110px;
        padding-right: 10px; }
      .product-description-container .product-info-container .highlight-container .highlight {
        color: #212121;
        padding: 0 0 8px 16px; }
    .product-description-container .product-info-container .detail-description-container {
      display: flex;
      font-size: 14px;
      margin-top: 24px; }
      .product-description-container .product-info-container .detail-description-container .detail-description-heading {
        font-weight: 500;
        color: #878787;
        font-size: 16px;
        width: 110px;
        padding-right: 24px; }
      .product-description-container .product-info-container .detail-description-container .detail-description {
        font-size: 16px; }
