body .sign-up-page {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 40px;
  height: 400px; }
  @media screen and (max-width: 650px) {
    body .sign-up-page {
      flex-direction: column;
      padding: 2px;
      margin: 2px; } }
  body .sign-up-page .sign-up-heading-container {
    background-color: #2874F0;
    max-width: 214px;
    border-radius: 5px;
    padding: 20px 24px;
    background-image: url("../images/yourkart-logo.jpg");
    background-position: center 180px;
    background-repeat: no-repeat; }
    @media screen and (max-width: 650px) {
      body .sign-up-page .sign-up-heading-container {
        display: none; } }
    body .sign-up-page .sign-up-heading-container .sign-up-heading {
      font-family: arial;
      padding-left: 10px;
      font-weight: 600;
      color: white; }
    body .sign-up-page .sign-up-heading-container .user-features-copy {
      color: white;
      padding: 10px; }
    body .sign-up-page .sign-up-heading-container img {
      z-index: 2; }
  body .sign-up-page .sign-up-form-container {
    padding: 4px 32px; }
    @media screen and (max-width: 650px) {
      body .sign-up-page .sign-up-form-container {
        margin: auto; } }
    body .sign-up-page .sign-up-form-container form {
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 3%;
      margin: auto; }
      body .sign-up-page .sign-up-form-container form input {
        display: inline-block;
        margin-top: 14px;
        width: 250px;
        padding: 12px;
        font-family: sans-serif;
        outline-color: black;
        font-size: 16px; }
      body .sign-up-page .sign-up-form-container form input[type="submit"] {
        background-color: #FF9F00;
        color: white;
        font-size: 20px;
        font-weight: 600;
        outline: none;
        cursor: pointer;
        border: none;
        padding: 14px;
        margin-top: 24px;
        box-shadow: 0px 1px 2px 0px #00000033; }
      body .sign-up-page .sign-up-form-container form .already-account {
        padding: 10px 6px; }
        body .sign-up-page .sign-up-form-container form .already-account span {
          color: black; }
        body .sign-up-page .sign-up-form-container form .already-account a {
          text-decoration: none;
          color: #FF9F00; }
